
@font-face {
    font-family: 'zabras';
    src: url('./fonts/zabars.ttf') format('truetype');
}

.headline-gamename{
  text-align: center;
}

body {
  background-color: black;
  background-image: url('./imgs/5_background/desert.png');
  background-size: cover;
  /* background-overflow: visible; */
  background-position: 50% 0;
  font-family: 'zabras', Arial, Helvetica, sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
}

canvas {
  background-color: black;
  display: block;
  margin: auto;
  padding: 0;
  height: 480px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
}

#startScreen {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 2.5s ease-out, transform 2.5s ease-out;
    animation: fadeIn 5.5s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.5); }
    to { opacity: 1; transform: scale(1); }
}
/* 
.fade-out {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 1s ease-out, transform 1s ease-out;
} */



.menu-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    background: #f7c25f;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.menu-button:hover {
    background: #ffaa00;
    cursor: pointer;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d; /* Dies erlaubt eine 3D-Rotation */
  perspective: 1000px; /* Die Perspektive für den 3D-Effekt */
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* stellt sicher  das es !über! ollem liegt */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 600px;
}

.header-game-elpolloloco {
    font-size: 60px;
  color:#ffaa00;
  text-shadow: #ffaa00;
    background-color: black;

}

.header-game-controll {
  font-size: 40px;
  color: #f3a71a;
    letter-spacing: 8px;
    font-family: Impact, Helvetica, 'Arial Narrow Bold', sans-serif ;
    background-color: black;
}

.game-controll-txt {
  font-size: 20px;
  color: #f7c25f;
  font-family: Impact, Helvetica, 'Arial Narrow Bold', sans-serif ;
  font-weight: normal;
    background-color: black;
}

.game-controll-back {
  font-size: 20px;
  color: #f7c25f;
    font-family: Impact, Helvetica, 'Arial Narrow Bold', sans-serif ;
  font-weight: normal;
      background-color: black;
}


@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}

.background-el-poll-loco {
  display: flex;
  background-color: darkgreen;
}
